@use 'base/variables' as v;

.citas { // Lista de servicios
    list-style: none; //Quitamos las biñetas que agrega la lista
    padding: 0;
    li { // Elementos de la lista
        padding: 1rem;
        border-top: 1px solid v.$blanco; //borde para separar las citas

        p{ //Parrafos de cada elemento de la lista
            font-weight: v.$bold;
            color: v.$azul;
        }
        span, //Span con datos de la BD
        .servicio{ //Parrafo que muestra servicios y precios
            font-weight: v.$regular;
            color: v.$blanco;
        }
       
    }
}

.servicios {
    @extend .citas; //Heredamos los estilos de citas.

    .acciones {
        margin: 0;
    }

    .boton,
    .boton-eliminar {
        margin: 0;
    }
}